@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
  color: #e5e5e5;
  font-family: 'Inter', sans-serif;
  overflow: hidden; /* Prevent scrolling the whole window */
}